body {
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
    cursor: pointer;
}

tr:hover {
    background-color: #f5f5f5;
}

.positive-change {
    color: green;
}

.negative-change {
    color: red;
}

/* Стили для всплывающей подсказки (tooltip) */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Расположение над элементом */
    left: 50%;
    margin-left: -60px; /* Центрирование */
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; /* Предотвращение переноса строки */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#modal {
    box-sizing: border-box;
}
#modal-content {
    white-space: pre-wrap; /* Перенос строк */
}

#modal-content h3 { /* Стили для заголовков */
    margin-top: 1em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
}

#modal-content strong { /* Стили для жирного текста */
    font-weight: bold;
}

.loader {
    border: 8px solid #f3f3f3; /* Светло-серый */
    border-top: 8px solid #3498db; /* Синий */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Анимация вращения */
    margin: 20px auto; /* Центрирование */
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}